{% extends "base.html" %}

{% block content %}

<div class="w3-main" style="margin-left:300px;"></div>

<header class="w3-container w3-center" style="padding-top:50px">
  <h2><b><i class="fa fa-handshake-o"></i> Activities</b></h2>
</header>


<div class="w3-panel" style="padding-top:22px">
  <div class="w3-row-padding" style="margin:0 -16px">
    <div class="w3-third">

      <h5>Add New Activity</h5>
      

      <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
          {{ form.name.label }}<br/>
          {{ form.name(size=32) }}<br/>
          {% for error in form.name.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>

        <p>Select Your Category
          <select class="filterCategory" id="category" name="category">
            <option value="all">All</option>
            {% for cat in category%}
            <p> {{cat}} </p>
              <option value={{cat}}>{{cat}}</option>
            {% endfor %}
          </select>
          </p>
  
        <p>
          {% with messages = get_flashed_messages() %}
          {% if messages %}
          <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
          </ul>
          {% endif %}
          {% endwith %}
        </p>
        <p>{{ form.submit() }}</p>
      </form>

    </div>

    <div class="w3-twothird">

    <h5>My Activities</h5>

    <table class="w3-table w3-striped w3-white">
      <thead class="thead-dark">
        <tr>
        </tr>
      </thead>
      <tbody>
        {% for i in my_activities_table%}
        <tr>
          <th scope="row">{{i}}</th>
        </tr>
        {% endfor %}
      </tbody>
    
    
    </table>

      <h5>Current Activities</h5>
      <table class="w3-table w3-striped w3-white">
        <thead class="thead-dark">
          <tr>
          </tr>
        </thead>
        <tbody>
          {% for a in activity_table[:20] %}
          <tr>
            <th scope="row">{{a.name}}</th>
            <th scope="row">{{a.category}}</th>
          </tr>
          {% endfor %}
        </tbody>
      
      </table>
      
    </div>
  </div>
</div>

{% endblock %}