{% extends "base.html" %}

{% block content %}

<header class="w3-container w3-center" style="padding-top:50px">
  <h2><b><i class="fa fa-gamepad"></i> Add a Match</b></h2>
</header>

<div style="margin:45px">
<form action="" method="post">
  {{ form.hidden_tag() }}
  <p>
    {{ form.activity.label }}<br/>
    {{ form.activity(size=32) }}<br/>
    {% for error in form.activity.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.user2_email.label }} <br/>
    {{ form.user2_email(size=64) }}<br/>
    {% for error in form.user2_email.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.user1_score.label }} <br/>
    {{ form.user1_score(size=64) }}<br/>
    {% for error in form.user1_score.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.user2_score.label }}<br/>
    {{ form.user2_score(size=64) }}<br/>
    {% for error in form.user2_score.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.datetime.label }}<br/>
    {{ form.datetime(size=64) }}<br/>
    {% for error in form.datetime.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
  </p>
  <p>{{ form.submit() }}</p>
</form>
</div>
{% endblock %}
