{% extends "base.html" %}


{% block content %}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">


<header class="w3-container w3-center" style="padding-top:50px">
  <h2><b><i class="fa fa-trophy"></i> Events</b></h2>
</header>

  <div class="w3-panel  style="padding-top:22px">

    <button type = "button" data-toggle="modal" data-target="#addEvent" class="btn btn-success w3-left" >
      <i class="fa fa-plus-circle"></i>
      Add Event 
      </button>

      <br>
      <br>
      <div class="modal fade" id="addEvent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none">
        <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"> <i class="fa fa-plus-circle"></i> Add Event </h4>
                </div>
                <div class="modal-body">
                  <form action="" method="post">
                    {{ form.hidden_tag() }}
                    <p>
                      Event Name<br/>
                      {{ form.name(size=48) }}<br/>
                      {% for error in form.name.errors %}
                      <span style="color: red;">[{{ error }}]</span>
                      {% endfor %}
                    </p>
                    <p>
                      Event Type <br/>
                      {{ form.type(size=32) }}<br/>
                      {% for error in form.type.errors %}
                      <span style="color: red;">[{{ error }}]</span>
                      {% endfor %}
                    </p>
                    <p>
                      Date <br/>
                      {{ form.date(size=32) }}<br/>
                      {% for error in form.date.errors %}
                      <span style="color: red;">[{{ error }}]</span>
                      {% endfor %}
                    </p>
          
                    <p>
                      MinElo <br/>
                      {{ form.minELO(size=16) }}<br/>
                      {% for error in form.minELO.errors %}
                      <span style="color: red;">[{{ error }}]</span>
                      {% endfor %}
                    </p>
          
                    <p>
                      MaxElo <br/>
                      {{ form.maxELO(size=16) }}<br/>
                      {% for error in form.maxELO.errors %}
                      <span style="color: red;">[{{ error }}]</span>
                      {% endfor %}
                    </p>
                  
                    <p>
                      {% with messages = get_flashed_messages() %}
                      {% if messages %}
                      <ul>
                        {% for message in messages %}
                        {{ message }}
                        {% endfor %}
                      </ul>
                      {% endif %}
                      {% endwith %}
                    </p>
          
                    <p>{{ form.submit() }}</p>
                  </form>

     </div>
  </div>
</div>
</div>

<p>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
    {% for message in messages %}
    {{ message }}
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
</p>

      <div class="w3-twothird">
        <h5>Upcoming Events</h5>
        <table id ="data1" class="w3-table w3-striped w3-white w3-bordered w3-hoverable w3-border">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Event Name</th>      
              <th scope="col">Type</th>           
              <th scope="col">Date</th>   
              <th scope="col">ELO Range</th>         
              <th scope="col">Toggle Admission</th>         
            </tr>
          </thead>
          <tbody>
            {% for event in events_future_table%}
            <tr>
                <td>{{event.name}}</td>
                <td>{{event.type}}</td>
                <td>{{event.date}}</td>

            <td>{{event.minELO}} - {{event.maxELO}}</td>
            
            <td><input type = "button" value = "Join Event" onclick = "toggleEvents()"> </td>
              <!--<button onclick = "" type="button" class="w3-hover-text-white">Join Event!</button></td>-->


            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
     



      
      <div class="w3-twothird">
        <h5>Past Events</h5>
        <table id ="data2" class="w3-table w3-striped w3-white w3-bordered w3-hoverable w3-border">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Event Name</th>      
              <th scope="col">Type</th>           
              <th scope="col">Date</th>  
              <th scope="col">ELO Range</th>  
            </tr>
          </thead>
          <tbody>
            {% for event in events_past_table%}
            <tr>
                <td>{{event.name}}</td>
                <td>{{event.type}}</td>
                <td>{{event.date}}</td>
                <td>{{event.minELO}} - {{event.maxELO}}</td>
                <td>
              <button type = "button"  data-toggle="modal" data-target="#edit{{ event.event_id }}" class="btn btn-success">
              <i class="fa fa-expand"></i>
              View Event 
              </button>
              </td>

            </tr>


            <div class="modal fade" id="edit{{ event.event_id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none">

              <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title"> <i class="fa fa-edit"></i> View Event Information </h4>
                      </div>
                      <div class="modal-body">
                          <form  method="post" action="/edit_profile">
                            <h3>{{event.name}}</h3>
                            <h4>Type: {{event.type}}</h4>
                            <h4>Date: {{event.date}}</h4>
                            <h4>ELO Range: {{event.minELO}} - {{event.maxELO}} </h4>

                             <!--event_id INT GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
                              name VARCHAR(255) NOT NULL,
                              type VARCHAR(255) NOT NULL,
                              date TIMESTAMP NOT NULL,
                              minELO INT,
                              maxELO INT-->
                               <br>
                               Then, have ability to view the matches of this event. Easier if a match had an associated 'Event', which checked with a trigger if
                               the rankables were a part of a given event.
                               <br>
                               The ability to see the sorted rankable winners based off the info we currently have (so sum of victories is what matters here).
                               <br>
                               The ability to see the awards handed out.
                               <br>
                            
                          <div class="modal-footer">
                              <button type="button" class="btn btn-default btn-secondary" data-dismiss="modal"><i class="fa fa-remove" aria-hidden="true"></i>Exit</button>
                              <button type="submit" name="action" class="btn btn-primary" style="width:100px"><i class="fa fa-check"></i> Submit</button>
                          </div>
                      </form>

           </div>
        </div>
</div>
</div>

            {% endfor %}
            
            <script> 
            $('#edit').modal(show); 
            </script>


          </tbody>
        </table>
      </div>

  </div>




{% endblock %}

{% block scripts %}
<script>
  $(document).ready(function () {
    $('#data2').DataTable();
  });

  $(document).ready(function () {
    $('#data1').DataTable();
  });



  
  // $(document).ready(function () {
  //   $('#data1').DataTable();
  //   $('#data2').DataTable();
  // });
  
</script>
{% endblock %}
