{% extends "base.html" %}

{% block content %}

<div class="w3-main" style="margin-left:300px;margin-top:43px;"></div>


<header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i> My Dashboard</b></h5>
  </header>

  <div class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter">
      <div class="w3-container w3-deep-purple w3-padding-16">
        <div class="w3-left"><i class="fa fa-comment w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>52</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Messages</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-deep-purple w3-padding-16">
        <div class="w3-left"><i class="fa fa-eye w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>99</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Views</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-deep-purple w3-padding-16">
        <div class="w3-left"><i class="fa fa-share-alt w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>23</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Shares</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-deep-purple w3-text-white w3-padding-16">
        <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>50</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Users</h4>
      </div>
    </div>
  </div>

  <div class="w3-panel">
    <!--<input type = "button" value = "Create a New Event" onclick = "toggleEvents()">-->
    <div class="w3-row-padding w3-border" style="margin:0 -16px">
      <div class="w3-third">
        <h5>Create a New Event</h5>


        <form action="" method="post">
          {{ form.hidden_tag() }}
          <p>
            Event Name<br/>
            {{ form.name(size=64) }}<br/>
            {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </p>
          <p>
            Event Type <br/>
            {{ form.type(size=32) }}<br/>
            {% for error in form.type.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </p>
          <p>
            Date <br/>
            {{ form.date(size=32) }}<br/>
            {% for error in form.date.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </p>
        
          <p>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
              {% for message in messages %}
              <li>{{ message }}</li>
              {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
          </p>

          <p>{{ form.submit() }}</p>
        </form>


      </div>
    </div>



      <div class="w3-twothird">
        <h5>Upcoming Events</h5>
        <table class="w3-table w3-striped w3-white w3-bordered w3-hoverable w3-border">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Event Name</th>      
              <th scope="col">Type</th>           
              <th scope="col">Date</th>   
              <th scope="col">ELO Range</th>              
            </tr>
          </thead>
          <tbody>
            {% for event in events_future_table%}
            <tr>
                <td>{{event.name}}</td>
                <td>{{event.type}}</td>
                <td>{{event.date}}</td>
                <td>{{event.minELO}} - {{event.maxELO}}</td>

            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
     



      
      <div class="w3-twothird">
        <h5>Past Events</h5>
        <table class="w3-table w3-striped w3-white w3-bordered w3-hoverable w3-border">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Event Name</th>      
              <th scope="col">Type</th>           
              <th scope="col">Date</th>  
              <th scope="col">ELO Range</th>              
            </tr>
          </thead>
          <tbody>
            {% for event in events_past_table%}
            <tr>
                <td>{{event.name}}</td>
                <td>{{event.type}}</td>
                <td>{{event.date}}</td>
                <td>{{event.minELO}} - {{event.maxELO}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

  </div>

<hr>
<div class="w3-container">
  <h5>General Stats</h5>
  <p>New Visitors</p>
  <div class="w3-grey">
    <div class="w3-container w3-center w3-padding w3-green" style="width:25%">+25%</div>
  </div>

  <p>New Users</p>
  <div class="w3-grey">
    <div class="w3-container w3-center w3-padding w3-orange" style="width:50%">50%</div>
  </div>

  <p>Bounce Rate</p>
  <div class="w3-grey">
    <div class="w3-container w3-center w3-padding w3-red" style="width:75%">75%</div>
  </div>
</div>
<hr>

<br>
<div class="w3-container w3-dark-grey w3-padding-32">
<div class="w3-row">

</div>
</div>



{% endblock %}
