{% extends "base.html" %}


{% block content %}


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>

<div class="w3-main" style="margin-left:300px;;"></div>

<header class="w3-container w3-center" style="padding-top:50px">
  <h2><b><i class="fa fa-history"></i> My Match History</b></h2>
</header>

<div class="table-filter" style="padding-top:22px">
  <div class="row">
    <div class="col-sm-3">
        <div class="filter-group">
          <form class="adminPlaylistMainForm" action="history" id="genreForm" method="POST">
            <div class="playlistGenre">
              <p>Filter by activity
              <select class="filterActivity" id="activity" name="activity">
                <option value="all">All</option>
                {% for activity in my_activities%}
                <p> {{activity}} </p>
                  <option value={{activity}}>{{activity}}</option>
                {% endfor %}
              </select>
              </p>
              <p>Filter by date</p>
              <label>
                Start date <input type="date" name="start-date">
              </label>
              <label>
                End date <input type="date" name="end-date">
              </label>
              <input type="submit" value="Filter">
            </div>
          </form>
        </div>
    </div>
  </div>
</div>

  <table id="data"  class="w3-table w3-striped w3-white">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Activity</th>
        <th scope="col">Match ID</th>
        <th scope="col">Opponent ID</th>
        <th scope="col">Your Score</th>
        <th scope="col">Their Score</th>
        <th scope="col">Datetime</th>
      </tr>
    </thead>
    <tbody>
      
    </tbody>
    </table>


{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
      $('#data').DataTable({
        processing: true,
        serverSide: true,
        ajax: '/data',
        columns: [
          {data: 'activity'},
          {data: 'match ID', searchable: false}
        ],
      });
    });
  </script>
{% endblock %}

<script   src="https://code.jquery.com/jquery-3.6.0.js"   integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="   crossorigin="anonymous"></script>


<script>
  function myFunction() {
    var input, filter, table, tr, td, i;
    input = document.getElementById("mylist");
    filter = input.value;
    table = document.getElementById("data");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }       
    }
  }
  </script>