{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<div class="w3-main" style="margin-left:300px;"></div>

<header class="w3-container w3-center" style="padding-top:50px">
  <h2><b><i class="fa fa-dashboard"></i> My Dashboard</b></h2>
</header>

<div class="w3-container w3-hover-text-light-grey w3-teal w3-center" style="border-radius:25px;height:230px;margin-left:3%;margin-right:3%;margin-top:3%;width:44%;padding:2%;float:left;">
  <h2 style="margin:15px;">Elo Stats</h2>
  {% block msg9 %}
    {% if maxEloActivity=='No matches played' %}
      <h5 style="margin:15px;">
        No matches played
      </h5>
    {% else %}
      <h5 style="margin:15px;">
        Max Elo: <strong class="w3-text-yellow">{{maxElo}}</strong> in {{maxEloActivity}}
      </h5>
      <h5 style="margin:15px;">
        Min Elo: <strong class="w3-text-yellow">{{minElo}}</strong> in {{minEloActivity}}
      </h5>
      <h5 style="margin:15px;">
        Avg Elo: <strong class="w3-text-yellow">{{averageElo}}</strong> over all activities
      </h5>
    {% endif %}
  {% endblock %}

</div>

<div class="w3-container w3-center w3-teal" style="border-radius:25px;height:230px;margin-left:3%;margin-right:3%;margin-top:3%;width:44%;padding:2%;float:left;">
  <h2 style="margin:15px;">Elo Lookup</h2>
  <p>
    <!---<input type="text" id="activitySearch" placeholder="Activity"style="border-radius:10px;">
    <button type="submit" style="border-radius:10px;"><i class="fa fa-search"></i></button>--->
    <h4 style="margin:20px;">
      Elo:  <strong class="w3-text-yellow">{{eloLookup}}</strong>
    </h4>
    <form action="" method="post">
      {{ form.hidden_tag() }}
      <p style="font-size:medium;">
        {{ form.activity(size=25,placeholder="Activity") }}
        {% for error in form.activity.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      {{ form.submit(class_="w3-light-grey w3-hover-text-dark-grey") }}</p>
    </form>
  </p>
</div>



<div class="w3-container" style="padding-top:22px">
  <div class="w3-row-padding w3-margin-bottom" style="margin-top:3%;">
    <div class="w3-quarter">
      <div class="w3-container w3-red w3-padding-16" style="border-radius:25px;">
        <div class="w3-left"><i class="fa fa-eye w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>{{numLeagues}}</h3>
        </div>
        <div class="w3-clear"></div>
        <h4># Leagues Joined</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-green w3-padding-16" style="border-radius:25px;">
        <div class="w3-left"><i class="fa fa-line-chart w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>{{numActivities}}</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Activities Played</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-blue w3-padding-16" style="border-radius:25px;">
        <div class="w3-left"><i class="fa fa-trophy w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>{{matchesWon}}</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Matches Won</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-deep-orange w3-text-white w3-padding-16" style="border-radius:25px;">
        <div class="w3-left"><i class="fa fa-gamepad w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>{{matchesPlayed}}</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Matches Played</h4>
      </div>
    </div>
  </div>


  <div class="w3-container w3-center w3-light-grey" style="width:91%;margin-left:4.5%;margin-bottom:3%;margin-top:3%;float:left;">
    <h2 style="margin-bottom:2%;">My Elo vs. Top Elos for {{chartTitle}}</h2>
    <form action="" method="post">
      {{ form.hidden_tag() }}
      <p style="font-size:medium;">
        {{ form.activity(size=25,placeholder="Activity") }}
        {% for error in form.activity.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      {{ form.submit(class_="w3-light-grey w3-hover-text-dark-grey") }}</p>
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
      <canvas id="myChart"></canvas>
      {% block javascript %}
      <script type="text/javascript">//"[andrew,[datetime,8],katherine,[datetime]]"
        var graphData = JSON.parse('{{ graphInfo | tojson }}');
        console.log(graphData)
        var formattedData1 = [];
        var formattedData2 = [];
        var formattedData3 = [];
        var formattedData4 = [];
        
        for(let i=0;i<graphData[1].length;i=i+2) {
          formattedData1.push({x:  new Date(graphData[1][i]), y: graphData[1][i+1]});
        }
        for(let i=0;i<graphData[3].length;i=i+2) {
          formattedData2.push({x:  new Date(graphData[3][i]), y: graphData[3][i+1]});
        }
        for(let i=0;i<graphData[5].length;i=i+2) {
          formattedData3.push({x:  new Date(graphData[5][i]), y: graphData[5][i+1]});
        }
        for(let i=0;i<graphData[7].length;i=i+2) {
          formattedData4.push({x:  new Date(graphData[7][i]), y: graphData[7][i+1]});
        }

        console.log(formattedData1)
        
        if (formattedData1[0]){
          var maxX = formattedData1[formattedData1.length -1]['x'];
      }

      new Chart("myChart", {
        type: "scatter",
        data: {
          datasets: [{
            label:graphData[0],
            pointRadius: 5,
            pointBackgroundColor: "white",
            data: formattedData1,
            borderColor: 'blue',
            borderWidth: 6,
            showLine:!!'{{showLine[0]}}'
          },{
            label:graphData[2],
            pointRadius: 4,
            pointBackgroundColor: "goldenrod",
            data: formattedData2,
            borderColor: 'goldenrod',
            borderWidth: 2,
            showLine:!!'{{showLine[1]}}'
          },{
            label:graphData[4],
            pointRadius: 4,
            pointBackgroundColor: "salmon",
            data: formattedData3,
            borderColor: 'salmon',
            borderWidth: 2,
            showLine:!!'{{showLine[2]}}'
          },{
            label:graphData[6],
            pointRadius: 4,
            pointBackgroundColor: "lightseagreen",
            data: formattedData4,
            borderColor: 'lightseagreen',
            borderWidth: 2,
            showLine:!!'{{showLine[3]}}'
          }]
        },
        options: {
          legend: {display: true,labels:{fontSize:15}},
          
          scales: {
            //xAxes: [{ticks: {callback: (value) => {return new Date(value).toLocaleDateString("fa-IR", {month: "short",year: "numeric"});}}}],
            xAxes: [{scaleLabel: {display: true,labelString: 'Time',fontSize:25}, type: "time", time: {
                min: moment('2019-01-01'),
                max: maxX
            }}],
            yAxes: [{ticks: {min: 0, max:2000, fontSize:15}, scaleLabel: {display: true,labelString: 'Elo',fontSize:25}}]
          }
        }
      });
        </script>
    {%endblock%}
  </div>

  <div class="w3-container w3-hover-text-light-grey w3-deep-purple w3-center" style="border-radius:25px;height:240px;margin:3%;width:44%;padding:2%;float:left;">
    <h2 style="margin:15px;">My Profile</h2>
    <p>
      {% block msg3 %}
        {% if current_user.is_authenticated %}
          Name: {{current_user.name}}  <a href="{{ url_for('rankables.updateName') }}" class = "w3-hover-white" style ="color:white;"><i class="fa fa-pencil-square-o fa-fw"></i></a>
        {% endif %}
      {% endblock %}
    </p>
    <p>
      {% block msg5 %}
        {% if current_user.is_authenticated %}
          Category: {{current_user.category}}  <a href="{{ url_for('rankables.updateCategory') }}" class = "w3-hover-white" style ="color:white;"><i class="fa fa-pencil-square-o fa-fw"></i></a>
        {% endif %}
      {% endblock %}
    </p>
    <p>
      {% block msg6 %}
        {% if current_user.is_authenticated %}
          Email: {{current_user.email}}  <a href="{{ url_for('rankables.updateEmail') }}" class = "w3-hover-white" style ="color:white;"><i class="fa fa-pencil-square-o fa-fw"></i></a>
        {% endif %}
      {% endblock %}
    </p>
  </div>

  <div class="w3-container w3-center w3-deep-purple" style="height:240px;margin:3%;width:44%;border-radius:25px;padding:3%;float:left;">
    <h2 style="margin:15px;">About Me</h2>
    <p>
      {% block msg4 %}
        {% if current_user.is_authenticated %}
          {{current_user.about}}  <a href="{{ url_for('rankables.updateAbout') }}" class = "w3-hover-white" style ="color:white;"><i class="fa fa-pencil-square-o fa-fw"></i></a>
        {% endif %}
      {% endblock %}
    </p>
    <a href="{{ url_for('rankables.updatePassword') }}" ><p class="w3-pink w3-button w3-center" style="border-radius:15px;height:40px;width:175px;" class = "w3-hover-white">
      Change password
    </p></a>
  </div>
</div>


{% endblock %}
