{% extends "base.html" %}

{% block content %}


<div class="w3-main" style="margin-left:300px;"></div>

<header class="w3-container w3-center" style="padding-top:50px">
  <h2><b><i class="fa fa-users"></i> Leagues</b></h2>
</header>

<div class="w3-panel" style="padding-top:22px">
  <div class="w3-row-padding" style="margin:0 -16px">
    <div class="w3-third">

      <h5>Join a League</h5>

      <form action="" method="post">
        {{ leagueform.hidden_tag() }}
       
        <p>
          {{ leagueform.name.label }}<br/>
          {{ leagueform.name(size=32) }}<br/>
          {% for error in leagueform.name.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ leagueform.email.label }} <br/>
          {{ leagueform.email(size=64) }}<br/>
          {% for error in leagueform.email.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ leagueform.status.label }} <br/>
          {{ leagueform.status(size=64) }}<br/>
          {% for error in leagueform.status.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
      
      
        <p>
          {% with messages = get_flashed_messages() %}
          {% if messages %}
          <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
          </ul>
          {% endif %}
          {% endwith %}
        </p>
        <p>{{ form.submit() }}</p>
      </form>


    <div class="w3-twothird">
      <h5>My Leagues</h5>

  <table class="w3-table w3-striped w3-white">
    <thead class="thead-dark">
      <tr>
        <th scope="col">League</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      {% for member in myleagues_table%}
      <tr>
        <td>{{member.name}}</td>
        <td>{{member.status}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <h5>Create A New League</h5>

      <form action="" method="post">
        {{ form.hidden_tag() }}
       
        <p>
          {{ form.name.label }}<br/>
          {{ form.name(size=32) }}<br/>
          {% for error in form.name.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.president.label }} <br/>
          {{ form.president(size=64) }}<br/>
          {% for error in form.president.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
      
        <p>
          {% with messages = get_flashed_messages() %}
          {% if messages %}
          <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
          </ul>
          {% endif %}
          {% endwith %}
        </p>
        <p>{{ form.submit() }}</p>
      </form>
  
      <h5>All Leagues</h5>

      <table class="w3-table w3-striped w3-white">
        <thead class="thead-dark">
          <tr>
            <th scope="col">name</th>
            <th scope="col">president</th>
          </tr>
        </thead>
        <tbody>
          {% for league in league_table[:10]%}
          <tr>
            <td>{{league.name}}</td>
            <td>{{league.president}}</td>
            <td><button onclick = "" type="button" class="w3-hover-text-white">Join League!</button></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
  </div>
</div>

  



{% endblock %}