{% extends "base.html" %}

{% block content %}

<div class="w3-main" style="margin-left:300px;margin-top:43px;"></div>

<header class="w3-container" style="padding-top:22px">
  <h5><b><i class="fa fa-dashboard"></i> My Dashboard</b></h5>
</header>

<div class="w3-row-padding w3-margin-bottom">
  <div class="w3-quarter">
    <div class="w3-container w3-deep-purple w3-padding-16">
      <div class="w3-left"><i class="fa fa-comment w3-xxxlarge"></i></div>
      <div class="w3-right">
        <h3>52</h3>
      </div>
      <div class="w3-clear"></div>
      <h4>Messages</h4>
    </div>
  </div>
  <div class="w3-quarter">
    <div class="w3-container w3-deep-purple w3-padding-16">
      <div class="w3-left"><i class="fa fa-eye w3-xxxlarge"></i></div>
      <div class="w3-right">
        <h3>99</h3>
      </div>
      <div class="w3-clear"></div>
      <h4>Views</h4>
    </div>
  </div>
  <div class="w3-quarter">
    <div class="w3-container w3-deep-purple w3-padding-16">
      <div class="w3-left"><i class="fa fa-share-alt w3-xxxlarge"></i></div>
      <div class="w3-right">
        <h3>23</h3>
      </div>
      <div class="w3-clear"></div>
      <h4>Shares</h4>
    </div>
  </div>
  <div class="w3-quarter">
    <div class="w3-container w3-deep-purple w3-text-white w3-padding-16">
      <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
      <div class="w3-right">
        <h3>50</h3>
      </div>
      <div class="w3-clear"></div>
      <h4>Users</h4>
    </div>
  </div>
</div>

<div class="w3-panel">
  <div class="w3-row-padding" style="margin:0 -16px">
    <div class="w3-third">
      <h5>Create A New League</h5>

      <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
          {{ form.l_id.label }}<br/>
          {{ form.l_id(size=32) }}<br/>
          {% for error in form.l_id.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.name.label }}<br/>
          {{ form.name(size=32) }}<br/>
          {% for error in form.name.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.president.label }} <br/>
          {{ form.president(size=64) }}<br/>
          {% for error in form.president.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
      
        <p>
          {% with messages = get_flashed_messages() %}
          {% if messages %}
          <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
          </ul>
          {% endif %}
          {% endwith %}
        </p>
        <p>{{ form.submit() }}</p>
      </form>

    <div class="w3-twothird">
      <h5>Current Leagues</h5>
      <table class="w3-table w3-striped w3-white">
        <thead class="thead-dark">
          <tr>
            <th scope="col">l_id</th>
            <th scope="col">name</th>
            <th scope="col">president</th>
          </tr>
        </thead>
        <tbody>
          {% for league in league_table%}
          <tr>
            <th scope="row">{{league.l_id}}</th>
            <td>{{league.name}}</td>
            <td>{{league.president}}</td>
            <style>
              .dabutton:focus {
                  background-color:yellow;
              }
            </style>
            <td><button type="button" class="w3-hover-text-white">Join League!</button></td>
          </tr>
          {% endfor %}
        </tbody>

      </table>
    </div>
  </div>
</div>

<hr>
    <div class="w3-container">
      <h5>General Stats</h5>
      <p>New Visitors</p>
      <div class="w3-grey">
        <div class="w3-container w3-center w3-padding w3-green" style="width:25%">+25%</div>
      </div>

      <p>New Users</p>
      <div class="w3-grey">
        <div class="w3-container w3-center w3-padding w3-orange" style="width:50%">50%</div>
      </div>

      <p>Bounce Rate</p>
      <div class="w3-grey">
        <div class="w3-container w3-center w3-padding w3-red" style="width:75%">75%</div>
      </div>
    </div>
<hr>

<br>
<div class="w3-container w3-dark-grey w3-padding-32">
  <div class="w3-row">
    <div class="w3-container w3-third">
      <h5 class="w3-bottombar w3-border-green">Demographic</h5>
      <p>Language</p>
      <p>Country</p>
      <p>City</p>
    </div>
    <div class="w3-container w3-third">
      <h5 class="w3-bottombar w3-border-red">System</h5>
      <p>Browser</p>
      <p>OS</p>
      <p>More</p>
    </div>
    <div class="w3-container w3-third">
      <h5 class="w3-bottombar w3-border-orange">Target</h5>
      <p>Users</p>
      <p>Active</p>
      <p>Geo</p>
      <p>Interests</p>
    </div>
  </div>
</div>

{% endblock %}