{% extends "base.html" %}

{% block content %}


<div class="w3-main" style="margin-left:300px;margin-top:43px;"></div>

<div class="container">
  <h2>Button Pressed: {{ButtonPressed}}</h2>
  <form method="post">
      <input type="submit" value="Join League!" >
  </form>
</div>

<div class="w3-panel">
  <div class="w3-row-padding" style="margin:0 -16px">
    <div class="w3-third">
      <h5>Create A New League</h5>

      <form action="" method="post">
        {{ form.hidden_tag() }}
        
        <p>
          {{ form.name.label }}<br/>
          {{ form.name(size=32) }}<br/>
          {% for error in form.name.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.president.label }} <br/>
          {{ form.president(size=64) }}<br/>
          {% for error in form.president.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
      
        <p>
          {% with messages = get_flashed_messages() %}
          {% if messages %}
          <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
          </ul>
          {% endif %}
          {% endwith %}
        </p>
        <p>{{ form.submit() }}</p>
      </form>

    <div class="w3-twothird">
      <h5>All Leagues</h5>

      <table class="w3-table w3-striped w3-white">
        <thead class="thead-dark">
          <tr>
            <th scope="col">name</th>
            <th scope="col">president</th>
          </tr>
        </thead>
        <tbody>
          {% for league in league_table%}
          <tr>
            <td>{{league.name}}</td>
            <td>{{league.president}}</td>
            <td><button type="button" class="w3-hover-text-white">Join League!</button></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
  </div>
</div>

<div class="w3-twothird">
  <h5>My Leagues</h5>

  <table class="w3-table w3-striped w3-white">
    <thead class="thead-dark">
      <tr>
        <th scope="col">user_id</th>
        <th scope="col">status</th>
      </tr>
    </thead>
    <tbody>
      {% for member in myleagues_table%}
      <tr>
        <td>{{member.user_id}}</td>
        <td>{{member.status}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>





{% endblock %}