{% extends "base.html" %}

{% block content %}


<div class="w3-main" style="margin-left:300px;"></div>

<header class="w3-container w3-center" style="padding-top:50px">
  <h2><b><i class="fa fa-eye"></i> Leaderboards</b></h2>
</header>

<div class="w3-container" style="padding-top:22px">
    <div class="w3-container w3-center" style="margin:2%;">
        <form action="" method="post">
          {{ form.hidden_tag() }}
          <p style="font-size:medium;">
            {{ form.activity(size=25,placeholder="Activity") }}
            {% for error in form.activity.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          {{ form.submit(class_="w3-light-grey w3-hover-text-dark-grey") }}</p>
        </form>
        {% block msg3 %}
          {%if not activity==None:%}
            <h3 style="margin-top:50px;">Leaderboard for {{activity}}</h3>

    </div>
    <table id="myTable" class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Rank</th>
            <th scope="col">Name</th>
            <th scope="col">Elo</th>  
            <th scope="col">Profile</th>      
          </tr>
        </thead>
        <tbody>
          {% for entry in tableEntries%}
            <tr>
                <th scope="row">{{entry[0]}}</th>
                <td>{{entry[1]}}</td>
                <td>{{entry[2]}}</td>
                <td>
                  <form action="/players/{{entry[3]}}" method="POST">
                    <button type="submit" class="btn btn-info btn-sm" data-toggle="modal">View Profile</button>
                  </form>
                </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {%endif%}
      {% endblock %}
</div>




{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#myTable').DataTable({
        searching:false,
        retrieve: true
      });
    });
  </script>
{% endblock %}



{% endblock %}