{% extends "base.html" %}

{% block content %}


<div class="w3-main" style="margin-left:300px;"></div>

<header class="w3-container w3-center" style="padding-top:50px">
  <h2><b><i class="fa fa-eye"></i> Leaderboards</b></h2>
</header>

<div class="w3-container" style="padding-top:22px">
    <div class="w3-container w3-center" style="margin:2%;">
        <form action="" method="post">
          {{ form.hidden_tag() }}
          <p style="font-size:medium;">
            {{ form.activity(size=25,placeholder="Activity") }}
            {% for error in form.activity.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          {{ form.submit(class_="w3-light-grey w3-hover-text-dark-grey") }}</p>
        </form>
        <p>Activity: {{activity}}</p>>
    </div>
    <table id="myTable" class="w3-table w3-striped w3-white">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Category</th>
            <th scope="col">Average Elo</th>
            <th scope="col">About</th>
            
          </tr>
        </thead>
        <tbody>
          {% for player in rankables%}
            <tr>
                <th scope="row">{{player.name}}</th>
                <td>{{player.category}}</td>
                {% if player.rankable_id in uninitializedIDs %}
                  <td>1000</td>
                {% endif %}
                {% for row in elos %}
                  {% if row[0]==player.rankable_id %}
                    <td>{{row[1]}}</td>
                  {% endif %}
                {% endfor %}
                <td>{{player.about}}</td>
                
            </tr>
          {% endfor %}
        </tbody>
      </table>
</div>

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#myTable').DataTable();
    });
  </script>
{% endblock %}

<script>
    let searchString = "";
    let categoryString = "";
    function searchAll() {
        searchString=document.getElementById("nameSearch").value.toUpperCase();
      categoryString=document.getElementById("categorySearch").value.toUpperCase();
      table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            th = tr[i].getElementsByTagName("th")[0];
            if (td && th) {
            txtValue = td.textContent || td.innerText;
            txtValue2 = th.textContent || th.innerText;
            console.log(txtValue);
            if (txtValue.toUpperCase().indexOf(categoryString) > -1 && txtValue2.toUpperCase().indexOf(searchString) > -1) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
            }       
        }
    }
</script>

{% endblock %}