{% extends "base.html" %}

{% block content %}

<header class="w3-container w3-center" style="padding-top:50px">
  <h2><b><i class="fa fa-pencil"></i> Update Category</b></h2>
</header>

<body>
  <div style="text-align: center; padding-top:10%;">
    <form action="" method="post">
      {{ form.hidden_tag() }}
      <p style="font-size:x-large;">
        {{ form.category.label }}<br/><br/>
        {{ form.category() }}<br/><br/>
        {% for error in form.category.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>{{ form.submit(class_="w3-button w3-pink w3-hover-grey w3-hover-text-dark-grey") }}</p>
    </form>
  </div>
</body>

{% endblock %}